.links {
  margin: 2em 0;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.links:hover {
  color: white;
  margin: 2em 0;
  border-bottom: 1px solid white;
  border-top: 1px solid white;
}

.w50 {
  width: 20%;

  text-align: center;
  position: fixed;
  right: 50px;
}
